/* Default styles for large and extra-large screens */
.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.checkout-ad {
    width: 100%;
    margin-bottom: 10px;
}

.checkout-title {
    margin-right: 15px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

/* Responsive styles for small screens */
@media (max-width: 768px) {
    .checkout {
        display: block;
        padding: 10px;
    }

    .checkout-ad {
        width: 100%;
        margin-bottom: 5px;
    }

    .checkout-title {
        margin-right: 0;
        padding: 8px;
        text-align: center;
    }
}